[submodule "voice_type_classifier"]
	path = voice_type_classifier
	url = https://github.com/MarvinLvn/voice-type-classifier
[submodule "SylNet"]
	path = SylNet
	url = https://github.com/shreyas253/SylNet
